name: Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build-release:
    name: Build Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            archive_name: steam-command-runner-linux-x86_64.zip
          - target: aarch64-unknown-linux-gnu
            archive_name: steam-command-runner-linux-arm64.zip

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install cross
        run: cargo install cross

      - name: Build binary
        run: cross build --release --verbose --target ${{ matrix.target }} --bin steam-command-runner

      - name: Archive binary
        run: |
          cd target/${{ matrix.target }}/release
          zip -9 ../../../${{ matrix.archive_name }} steam-command-runner
          cd ../../..

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.archive_name }}
          generate_release_notes: true
